<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <receiver
            android:name="com.termux.app.TaskExecutorNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.termux.app.STOP_TASK" />
            </intent-filter>
        </receiver>

    </application>

</manifest>

