<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.TermuxApplication"
        android:allowBackup="false"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.TermuxApp.DayNight.DarkActionBar"
        tools:targetApi="m">

        <activity
            android:name=".app.DriverActivity"
            android:exported="true"
            android:label="@string/application_name"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.TaskExecutorActivity"
            android:exported="false"
            android:label="@string/task_executor_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <receiver
            android:name=".app.TaskExecutorNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.termux.app.STOP_TASK" />
            </intent-filter>
        </receiver>

        <service
            android:name=".app.TaskExecutorOverlayService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".app.BootstrapSetupActivity"
            android:exported="false"
            android:label="@string/bootstrap_setup_title"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.LunarHomeScreenActivity"
            android:exported="false"
            android:label="Lunar UI HomeScreen"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

    </application>

</manifest>

