<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="lunar.land.launcher.activity.LunarHomeScreenActivity"
            android:exported="false"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustResize"
            android:resizeableActivity="true" />

        <activity
            android:name="lunar.land.launcher.activity.AppDrawerActivity"
            android:exported="false"
            android:label="App Drawer UI"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>

